.banner-area {
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/9bc27292880429.5e569ff84e4d0.gif);
  background-size: cover;
}

body {
  font-family: "Hind";
  color: #E5E5E5;
  text-shadow: 2px 2px 4px #000000;
  font-weight: bolder;
  font-size: x-large;
}

a:visited {
  color: #FCA311;
}

.footerContainer {
  display: flex;
  flex-wrap: wrap;
  height: 25px;
  text-align: center;
  /* margin-top: 100%; */
}

.footerItem {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 15px;
  color: #EAE8FF;
  
}
