.banner-area {
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/9bc27292880429.5e569ff84e4d0.gif);
  background-size: cover;
}

body {
  font-family: "Hind";
  color: #E5E5E5;
  text-shadow: 2px 2px 4px #000000;
  font-weight: bolder;
  font-size: x-large;
}

.card-body {
  color: #FCA311;
}

.icon-bar {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
}

.icon-bar a {
  display: block;
  text-align: center;
  transition: all .03s ease;
  color: #FCA311;
  font-size: 25px;
  width: 15px;
  height: 60px;
}

.icon-bar:hover {
  color: #E5E5E5;
}

label {
  font-family: "Hind";
  color: #FCA311;
  text-shadow: 2px 2px 4px #000000;
  font-weight: bolder;
  font-size: x-large;
}

.nav-link {
  color: #FCA311;
}

.nav-link:hover {
  color: #E5E5E5;
}

.footerContainer {
  display: flex;
  flex-wrap: wrap;
  height: 50px;
  text-align: center;
}

.footerItem {
  position: absolute;
  bottom: 0px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 15px;
  color: #EAE8FF;
}
footer{
  flex-grow: 0;
  justify-content: center;
}

.contactMe {
  display: flex;
  justify-content: center;
}

